@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 14px;
}

:root {
    --max-width: 1000px;
    --primary-color: #42BFEF;
    --secondary-color: #1A2E86;
    --background-color: #d5dfe4;
    --text-color: #000;
    --section-border-color: var(--secondary-color);
    --button-background: var(--primary-color);
    --button-hover-background: var(--secondary-color);
    --shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}

body, #theme-toggle {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 1.4;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px;
}

button, .button {
    background-color: var(--button-background);
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    color: #fff;
    box-shadow: var(--shadow);
}

h1 {
    font-size: 20px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    max-width: 100%;
    padding: 5px;
    overflow: hidden;
}

.day {
    border: 1px solid var(--secondary-color);
    padding: 10px;
    min-height: 60px;
    position: relative;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.day select {
    display: block;
    margin: 5px auto;
    width: 90%;
    padding: 4px;
    border-radius: 3px;
}

.header {
    font-weight: 500;
    color: white;
    background-color: var(--primary-color);
    padding: 6px;
    box-shadow: var(--shadow);
    text-align: center;
    border-radius: 5px;
}

.date {
    font-weight: bold;
    position: absolute;
    top: 3px;
    right: 3px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .calendar {
        grid-template-columns: repeat(7, 1fr);
        gap: 3px;
    }
    .day {
        min-height: 50px;
        min-width: 50px;
        padding: 1px;
    }
    .header {
        padding: 5px;
    }
    button, .button {
        padding: 6px 10px;
    }
}

@media (max-width: 480px) {
    .calendar {
        grid-template-columns: repeat(7, 1fr);
        gap: 2px;
    }
    .day {
        min-height: 40px;
    }
    .header {
        padding: 4px;
    }
    button, .button {
        padding: 5px 8px;
    }
}
